body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    font-size: 24px;
}

label {
    margin-top: 20px;
    display: block;
    font-size: 18px;
}

input[type="number"], .grid-item input {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    width: 60px;
}

.calculation-area, .button-grid, .input-rows {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.grid-item {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 60px;
    width: 60px;
}

.calc-btn {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.calc-btn:hover {
    background-color: #ddd;
}

.color1 {
    background-color: grey !important;
}

.color2 {
    background-color: yellow !important;
}

.color3 {
    background-color: lime !important;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    flex: 1;
}

.right-column {
    padding-left: 20px;
}

.right-column h2 {
    margin-bottom: 20px;
}

#most-likely-solution, #unused-numbers-solution {
    margin-bottom: 20px;
    font-size: 18px;
}

#number-status, #operator-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.grid-item#number-status-0,
.grid-item#number-status-1,
.grid-item#number-status-2,
.grid-item#number-status-3,
.grid-item#number-status-4,
.grid-item#number-status-5,
.grid-item#number-status-6,
.grid-item#number-status-7,
.grid-item#number-status-8,
.grid-item#number-status-9, 

.grid-item#operator-status-plus, 
.grid-item#operator-status-minus, 
.grid-item#operator-status-multiply, 
.grid-item#operator-status-divide {
    width: 3%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.contain {
	border: 1px solid black;
	margin-bottom: 20px;

}